.container-delete{
  background: linear-gradient(to right, rgb(113, 163, 179),rgb(89, 194, 89));
  display: flex;
  margin-left: 230px;
  height: 100vh;
  overflow: auto;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.content-delete{
  background: rgb(255, 255, 255);
  padding: 1.3em;
  border-radius: 6px;
}

.content-delete span{
  font-style: italic;
  font-size: 20px;
}

.label-delete{
  display: flex;
  flex-direction: column;
}

.label-delete span{
  margin-bottom: 2em;
}

.label-delete input{
  margin-bottom: 1em;
}
