.container-specialists{
  background: linear-gradient(to right, rgb(113, 163, 179),rgb(89, 194, 89));
  display: flex;
  height: 100vh;
}

.specialists{
  padding: 10px;
  margin: 10px;
}

.content-data{
  display: flex;
  flex-direction: column;
  padding: 5em;
  background: white;
  border-radius: 6px;
  margin-left: 8em;
  font-size: 23px;
  box-shadow: 4px 4px 2px rgb(66, 66, 66);
}

.content-data div{
  padding: 1em;
  border: 1px solid black;
  border-radius: 3px;
}

.specialists span{
  padding: 0.2em;
  background: rgba(115, 164, 197, 0.623);
  border-radius: 5px;
  font-style: italic;
  margin-left: 1em;
}

.delete-edit{
  justify-content: center;
  font-style: italic;
}







